<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Medicos en linea">
    <meta name="description" content="MEDIMAZ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z5G5Cg4+QsVOkKtL3geaitU8jjiBnyRT2OaU2M" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/confirmacioncita.css">

    <title>MEDIMAZ</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <center>
        <div id="contenedor">
            <div id="encabezado">
                <div class="encabezadologo">
                    <img width="140" src="/img/logoppersonal.png" alt="Logo">
                </div>
                <div id="tituloencabezado" style="margin-top: 11px;">
                    <header>
                        <h1 style="color: white; font-weight: bold; font-size: 90px;"><span
                                style=" font-weight: bold; font-size: 90px; color: #00367D;">MEDI</span>MAZ</h1>
                    </header>
                </div>
            </div>
            <nav id="menu" class="barraNavegacion">
                <ul>
                    <li><a class="colormenu" href="/inicio_login">Inicio</a></li>
                    <li><a class="colormenu" href="/medicos_login">Médicos</a></li>
                    <li><a class="colormenu" href="">Nosotros</a></li>
                    <li><a class="colormenu" href="">Citas</a></li>
                    <li><a class="colormenu" href="">Chat</a></li>
                    <li><a class="colormenu" href="">Mi Perfil</a></li>
                    <li><a class="colormenu" href="/">Cerrar Sesion</a></li>
                </ul>
            </nav>
            <section id="contenido" class="contenido">
                <center>
                    <form id="confirmacion">
                        <h4>¡Cita agendada con éxito!</h4>
                        <label for="titulo">Aquí tienes el resumen de tu cita</label>
                        <label>Nombre del médico: <span style="font-weight: normal;"> Dr. Jaime Lozano</span>
                        </label><br>
                        <label>Fecha: <span style="font-weight: normal;">
                                <%=fecha%>
                            </span> </label><br>
                        <label>Hora: <span style="font-weight: normal;">
                                <%=hora%>
                            </span> </label><br>
                        <label>Motivo: <span style="font-weight: normal;">
                                <%=motivo%>
                            </span> </label><br>
                        <a id="DeAcuerdo"
                            style="font-weight:bold;padding: 5px;width: 190px;border-radius: 10px;font-size: 19px;border:none;background-color: #0086F8;"
                            class="btn btn-primary" href="/perfil1_login">De Acuerdo</a>
                    </form>
                </center>
            </section>
            <footer class="pie">
                <img src="/img/logo_pie.png" width="100px" alt=""><br>
                Cita para una vida plena
            </footer>
        </div>
    </center>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-5ZGiP7SZ9vbfMc8/gZtKYxj5ipE08OVX+TwMzJvxgBTtkW1/5hXCIzXvKfg/9XqF"
    crossorigin="anonymous"></script>

</html>