<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Medicos en linea">
    <meta name="description" content="MEDIMAZ">
    <link rel="stylesheet" href="/css/inicio_estilos.css">
    <title>MEDIMAZ</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <center>
        <div id="contenedor">
            <div id="encabezado">
                <div class="encabezadologo">
                    <img width="140" src="/img/logoppersonal.png" alt="Logo">
                </div>
                <div id="tituloencabezado">
                    <header>
                        <h1 style="color: white;"><span style="color: #00367D;">MEDI</span>MAZ</h1>
                    </header>
                </div>
            </div>
            <nav id="menu" class="barraNavegacion">
                <ul>
                    <li><a class="colormenu" href="/inicio_login">Inicio</a></li>
                    <li><a class="colormenu" href="/medicos_login">Médicos</a></li>
                    <li><a class="colormenu" href="">Nosotros</a></li>
                    <li><a class="colormenu" href="">Citas</a></li>
                    <li><a class="colormenu" href="">Chat</a></li>
                    <li><a class="colormenu" href="">Mi Perfil</a></li>
                    <li><a class="colormenu" href="/">Cerrar Sesion</a></li>
                </ul>
            </nav>
            <section id="contenido" class="contenido">
                <article>
                    <div id="contgen">
                        <div id="cont2">
                            <p class="texto2">
                                ¡Descubre la comodidad de agendar tus citas médicas en línea!

                            </p>
                            <p class="texto2">

                                En nuestra plataforma, hemos creado una experiencia fácil y conveniente para que puedas
                                reservar tus consultas médicas en solo unos pocos pasos. No más esperas interminables en
                                el teléfono o ajustándote a horarios restrictivos. Con nosotros, tienes el control total
                                sobre tu agenda de salud.


                            </p>
                            <p class="texto2">
                                ¡No esperes más para tomar el control de tu salud! Únete a nosotros hoy mismo y
                                experimenta la conveniencia de agendar tus citas médicas en línea.
                            </p>

                            <button onclick="window.location.href='/medicos_login'">¡Conoce a nuestros médicos!</button>
                        </div>
                        <div id="cont1">
                            <img width="462px" height="466" src="/img/tipos-medicos-large-removebg-preview.png" alt="">
                        </div>

                        <br>
                </article>
            </section>
            <footer class="pie">
                <img src="/img/logo_pie.png" width="100px" alt=""><br>
                Cita para una vida plena
            </footer>
        </div>
    </center>
</body>
<script src="/js/inicio.js"></script>

</html>