<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEDIMAZ</title>
  <link rel="icon" href="/img/logo.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/login_estilo.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="encabezadologo">
          <img width="40px" height="40px" src="/img/logoppersonal.png" alt="Logo">
        </div>
        <span style="margin-top: 0px; color: #00367D;">MEDI</span>MAZ
        <br>
        <h4 class="textAcceder">Acceder</h4>
      </div>
      <form id="inicio">
        <div class="iniciosession">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo</label>
            <input type="email" class="form-control" id="Correo" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contraseña" required>
            <p style="margin-top: 20px;">¿Olvidaste tu contraseña? <a href="/recuperarcontrasena">Recuperar contraseña</a></p>
          </div>
        </div>
        <button id="btnEnviar" class="btn btn-primary">Ingresar</button>
      </form>
    </div>
  </div>
  <center>
    <br>
    <label style="margin-left: 20px; margin-bottom: 8px;">¿No tienes cuenta? <a href="/registro">Crear cuenta</a></label><br>
    <label>Si deseas darte de alta como médico contáctanos: <a
        href="mailto:contacto@denmaz.com">contacto@denmaz.com</a></label>
  </center>
</body>
<script type="module" src="/js/login.js"></script>

</html>