<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Medicos en linea">
    <meta name="description" content="MEDIMAZ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/medicos.css">

    <title>MEDIMAZ</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <center>
        <div id="contenedor">
            <div id="encabezado">
                <div class="encabezadologo">
                    <img width="140" src="/img/logoppersonal.png" alt="Logo">
                </div>
                <div id="tituloencabezado" style="margin-top: 11px;">
                    <header>
                        <h1 style="color: white; font-weight: bold; font-size: 90px;"><span
                                style=" font-weight: bold; font-size: 90px; color: #00367D;">MEDI</span>MAZ</h1>
                    </header>
                </div>
            </div>
            <nav id="menu" class="barraNavegacion">
                <ul>
                    <li><a class="colormenu" href="/">Inicio</a></li>
                    <li><a class="colormenu" href="/medicos">Médicos</a></li>
                    <li><a class="colormenu" href="">Nosotros</a></li>
                    <li><a class="colormenu" href="/login">Acceder</a></li>
                </ul>
            </nav>
            <section id="contenido" class="contenido">
                <div class="buscador-container">
                    <input type="text" placeholder="Buscar médico..." name="search">
                    <button class="botonBuscar">Buscar</button>
                </div>

                <div class="container mt-4 d-flex justify-content-center" style="margin-left: 100px;">
                    <div class="card-container">
                        <div class="card p-3" style="border-radius: 100px;">
                            <div class="d-flex align-items-center">
                                <div class="image">
                                    <img src="/img/perfilDentista1.png" class="rounded" width="155"
                                        style="border-radius: 600px;">
                                </div>
                                <div>
                                    <h4 style="margin-right: 90px;">Dr. Jaime Lozano</h4>
                                    <span
                                        style="margin-right: 174px; font-weight: bold; font-size: 17px;">Dentista</span><br>
                                    <span style="padding-left: 30px; font-size: 17px;">(Prostodoncia, Odontología
                                        estética)</span><br>
                                    <img style="margin-right: 122px;" src="/img/calfDentista1.png" width="120px"><br>
                                    <button style="margin-right: 150px;" class="btnPerfil"
                                        onclick="window.location.href='/perfil1'">Ver perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-container">
                        <div class="card p-3" style="border-radius: 100px; margin-left: 30px;">
                            <div class="d-flex align-items-center">
                                <div class="image">
                                    <img src="/img/perfilDentista2.png" class="rounded" width="155"
                                        style="border-radius: 600px;">
                                </div>
                                <div>
                                    <h4 style="margin-right:0px;">Dr. Roberto Martínez</h4>
                                    <span
                                        style="margin-right: 102px; font-weight: bold; font-size: 17px;">Ortopedista</span><br>
                                    <span style="margin-right: 50px; font-size: 17px;">(Cirugía ortopédica)</span><br>
                                    <img style="margin-right: 80px;" src="/img/calfDentista1.png" width="120px"><br>
                                    <button style="margin-right: 105px;" class="btnPerfil">Ver perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-4 d-flex justify-content-center" style="margin-left: 100px;">
                    <div class="card-container">
                        <div class="card p-3" style="border-radius: 100px;">
                            <div class="d-flex align-items-center">
                                <div class="image">
                                    <img src="/img/perfilDentista3.png" class="rounded" width="155"
                                        style="border-radius: 600px;">
                                </div>
                                <div>
                                    <h4 style="margin-right: 48px;">Dr. Juan Ramírez</h4>
                                    <span
                                        style="margin-right: 118px; font-weight: bold; font-size: 17px;">Psiquiatra</span><br>
                                    <span style="padding-left: 39px; font-size: 17px;">(Trastornos del estado de
                                        ánimo)</span><br>
                                    <img style="margin-right: 77px;" src="/img/calfDentista2.png" width="120px"><br>
                                    <button style="margin-right: 115px;" class="btnPerfil">Ver perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card p-3" style="border-radius: 100px; margin-left: 30px;">
                            <div class="d-flex align-items-center">
                                <div class="image">
                                    <img src="/img/perfilDentista4.png" class="rounded" width="155"
                                        style="border-radius: 600px;">
                                </div>
                                <div>
                                    <h4>Dra. Laura Sánchez</h4>
                                    <span
                                        style="margin-right: 68px; font-weight: bold; font-size: 17px;">Dermatóloga</span><br>
                                    <span style="padding-left: 5px; font-size: 17px;">(Tratamientos
                                        estéticos)</span><br>
                                    <img style="margin-right: 50px;" src="/img/calfDentista2.png" width="120px"><br>
                                    <button style="margin-right: 80px;" class="btnPerfil">Ver perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="pie">
                <img src="/img/logo_pie.png" width="100px" alt=""><br>
                Cita para una vida plena
            </footer>
        </div>
    </center>
</body>

</html>