<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Medicos en linea">
    <meta name="description" content="MEDIMAZ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z5G5Cg4+QsVOkKtL3geaitU8jjiBnyRT2OaU2M" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/perfil_medico.css">

    <title>MEDIMAZ</title>
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <center>
        <div id="contenedor">
            <div id="encabezado">
                <div class="encabezadologo">
                    <img width="140" src="/img/logoppersonal.png" alt="Logo">
                </div>
                <div id="tituloencabezado" style="margin-top: 11px;">
                    <header>
                        <h1 style="color: white; font-weight: bold; font-size: 90px;"><span
                                style=" font-weight: bold; font-size: 90px; color: #00367D;">MEDI</span>MAZ</h1>
                    </header>
                </div>
            </div>
            <nav id="menu" class="barraNavegacion">
                <ul>
                    <li><a class="colormenu" href="/">Inicio</a></li>
                    <li><a class="colormenu" href="/medicos">Médicos</a></li>
                    <li><a class="colormenu" href="">Nosotros</a></li>
                    <li><a class="colormenu" href="/login">Acceder</a></li>
                </ul>
            </nav>
            <section id="contenido" class="contenido">
                <div class="card p-1" style="background-color: #E3F2FE; border: none; margin: 30px 470px;">
                    <div class="d-flex align-items-center">
                        <div class="image">
                            <img src="/img/perfilDentista1.png" class="rounded" width="230"
                                style="border-radius: 600px;">
                        </div>
                        <div>
                            <h4 style="margin-right: 92px;">Dr. Jaime Lozano</h4>
                            <img style="margin-right: 10px;" src="/img/calfDentista1.png" width="120px"><a
                                href="/perfil1" style="margin-right: 60px;">Reseñas</a><br>
                            <span style="margin-right: 174px; font-weight: bold; font-size: 17px;">Dentista</span><br>
                            <span style="padding-left: 30px; font-size: 17px;">(Prostodoncia, Odontología
                                estética)</span><br>
                            <span style="padding-right: 10px; font-size: 17px;"><span style="font-weight: bold;">No. de
                                    cédula:</span> 2538943688109</span><br>
                        </div>
                    </div>
                </div>
                <button>Enviar Mensaje</button>
                <button style="margin-left: 30px;" onclick="window.location.href='/login'">Agendar Cita</button>
                <br><br><br>
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/cons1.jpg" class="d-block w-50 mx-auto" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/con2.jpg" class="d-block w-50 mx-auto" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/cons3.jpg" class="d-block w-50 mx-auto" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" style="margin-left: 300px;" type="button"
                        data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" style="margin-right: 300px;" type="button"
                        data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <h5>Ubicación:</h5>
                <span style="padding-left: 30px; font-size: 17px;">Avenida Oscar Pérez Escoboza #7903, 82124 Mazatlán,
                    Sin.</span><br>
                <img src="/img/mapa.png" alt="" width="650px" style="border: 2px solid black; margin-top: 14px;">

            </section>
            <footer class="pie">
                <img src="/img/logo_pie.png" width="100px" alt=""><br>
                Cita para una vida plena
            </footer>
        </div>
    </center>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-5ZGiP7SZ9vbfMc8/gZtKYxj5ipE08OVX+TwMzJvxgBTtkW1/5hXCIzXvKfg/9XqF"
    crossorigin="anonymous"></script>

</html>