<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEDIMAZ</title>
  <link rel="icon" href="/img/logo.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/login_estilo.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="encabezadologo">
          <img width="40px" height="40px" src="/img/logoppersonal.png" alt="Logo">
        </div>
        <span style="margin-top: 0px; color: #00367D;">MEDI</span>MAZ
        <br>
        <h4 class="textAcceder">Recuperar Contraseña</h4>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" style="text-align: justify;"><center>¡Recupera tu cuenta ahora!</center> <br> Si necesitas recuperar tu cuenta, escribe el correo electrónico de tu cuenta y nos pondremos en contacto contigo lo antes posible. Estamos aquí para ayudarte a recuperar el acceso a tu cuenta de manera rápida y segura. ¡Gracias por confiar en nosotros!</label>
        <input type="email" class="form-control" id="Correo" aria-describedby="emailHelp" required>
      </div>
      <button id="btnEnviarRecu" class="btn btn-primary" type="submit" onclick="window.location.href='/login'">Enviar Correo</button>
      <a id="btnCancelar" class="btn btn-primary" href="/login">Cancelar</a>
    </div>
  </div>
</body>
</html>