<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEDIMAZ</title>
  <link rel="icon" href="/img/logo.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/login_estilo.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container2">
    <div class="card">
      <div class="card-header">
        <div class="encabezadologo">
          <img width="40px" height="40px" src="/img/logoppersonal.png" alt="Logo">
        </div>
        <span style="margin-top: 0px; color: #00367D;">MEDI</span>MAZ
        <br>
        <h4 class="textAcceder">Registro</h4>
      </div>
      <form id="registro">
        <div class="registro">

          <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ej. Luis Ledezma Mejia" required>
          </div>

          <div class="mb-3">
            <label for="FNacimiento" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="fnacimiento" required>
          </div>

          <div class="mb-3">
            <label for="Telefono" class="form-label">Teléfono</label>
            <input type="tel" class="form-control" id="telefono" placeholder="Ej. 6691340674" pattern="[0-9]{10}" title="Por favor, ingrese un número de teléfono de 10 dígitos." required>
          </div>


          <div class="mb-3">
            <label for="Correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo" placeholder="luis@correo.com" required>
          </div>

          <div class="mb-3">
            <label for="Contrasena" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contrasena" placeholder="Ej. Contraseña123!" oninput="validarContrasena()" required>
        </div>
        
        <div class="mb-3">
            <label for="ConfirmacionContrasena" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="ConfirmacionContrasena" placeholder="Vuelve a escribir la contraseña" oninput="validarContrasena()" required>
        </div>
        
        <p id="mensajeContrasena"></p>

        </div>
        <button id="btnEnviarR" class="btn btn-primary">Registrarse</button><br>
        <a id="btnCancelar" class="btn btn-primary" href="/login">Cancelar</a>
      </form>
    </div>
  </div>
</body>
<script type="module" src="/js/registro.js">
</script>

</html>