/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body {
    background-color: white;
}

ul {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 1.5em;
}



/*Selector de clase*/

.aside {
    background-color: #7ec2df;
    margin: 0em;
    color: white;
    vertical-align: top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}

.contenido {
    background-color: #E3F2FE;
    margin: 0em;
    text-align: center;
    color: black;
    display: inline-block;
}

.encabezado-articulo {
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1em 1em;
}

.encabezado-aside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1.4em 1.4em;
    color: white;
    font-size: 20px;
}

.colormenu {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #ffffffa9;
}

.barraNavegacion {
    background-color: #00367D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 38px;
    color: black;
    line-height: 2;
}

.texto2 {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-right: 17px;
    color: black;
    line-height: 2;
    width: 1000px;
    margin: 20px;
}


.textoaside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 5px 25px;
    color: white;
    line-height: 2;
    text-decoration: underline;

}

.encabezadologo {
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
}

.pie {
    background-color: #0d2d56;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
    padding-top: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: #23C6DB;

}


/* Selector ID */


#contenedor {
    width: 100%;
    height: 727px;
    max-width: 0 auto;
    background-color: #23C6DB;
    box-shadow: -1px 0 10px #0000008f, 1px 0 10px #0000008f;

}

#tituloencabezado {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    padding-top: 0px;
    padding-left: 17px;
    display: inline-block;
    vertical-align: middle;
}

#encabezado {
    height: 152px;
    width: 100%;

    background-color: #23C6DB;
}

#menu {
    height: 60px;
    width: 100%;


}

#contenido {
    height: 360px;
    width: 100%;
}

#pie {
    height: 30px;
    justify-content: center;
    align-items: center;

}


.buscador-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid gray;
    width: 600px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    border: white 1px solid;
    margin-left: 427px;
}


.botonBuscar {
    float: right;
    padding: 6.7px 10px;
    margin-top: 8px;
    margin-right: 422px;
    color: black;
    background-color: lightgray;
    font-size: 17px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    cursor: pointer;
}

.botonBuscar:hover {
    opacity: 0.8;
}

body {

    background-color: #B3E5FC;
    border-radius: 10px;

}

h4 {
    font-weight: bold;
    color: #33b656;
    ;
}



.stats {

    background: #f2f5f8 !important;

    color: #000 !important;
}

.articles {
    font-size: 10px;
    color: #a1aab9;
}

.number1 {
    font-weight: 500;
}

.followers {
    font-size: 10px;
    color: #a1aab9;

}

.number2 {
    font-weight: 500;
}

.rating {
    font-size: 10px;
    color: #a1aab9;
}

.number3 {
    font-weight: 500;
}

.card-container {
    flex: 1;
}

.btnPerfil {
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #052267;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.btnPerfil:hover {
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #052267dc;
    color: white;
    font-weight: bold;
}

.DeAcuerdo {
    background-color: #0086F8;
    border: none;
    font-size: 19px;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 190px;
    font-weight: bold;
    border-radius: 10px;
}

#confirmacion {
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0 8px #0000002a, 0px 0 8px #00000032;
}

label {
    font-weight: bold;
    margin: 5px;

}

input {
    width: 120px;
    border-radius: 5px;
    padding: 3px;
}