/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body {
    background-color: white;
}

ul {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 1.5em;
}



/*Selector de clase*/

.aside {
    background-color: #7ec2df;
    margin: 0em;
    color: white;
    vertical-align: top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}

.contenido {
    background-color: white;
    margin: 0em;
    text-align: center;
    color: black;
    display: inline-block;
}

.encabezado-articulo {
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1em 1em;
}

.encabezado-aside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1.4em 1.4em;
    color: white;
    font-size: 20px;
}

.colormenu {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #ffffffa9;
}

.barraNavegacion {
    background-color: #00367D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 38px;
    color: black;
    line-height: 2;
}

.texto2 {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-right: 17px;
    color: black;
    line-height: 2;
    width: 1000px;
    margin: 20px;
}


.textoaside {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 5px 25px;
    color: white;
    line-height: 2;
    text-decoration: underline;

}

.encabezadologo {
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
}

.pie {
    background-color: #0d2d56;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
    padding-top: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: #23C6DB;

}

.fecha-art {
    display: block;
    padding-left: 20px;
    font-style: italic;
    color: white;
    text-align: left;
}

.sombreadoimg {
    box-shadow: 0px 0 8px #0000006e, 0px 0 8px #0000006e;
}

/* Selector ID */


#contenedor {
    width: 100%;
    height: 810px;
    max-width: 0 auto;
    background-color: #23C6DB;
    box-shadow: -1px 0 10px #0000008f, 1px 0 10px #0000008f;

}

#tituloencabezado {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    padding-top: 0px;
    padding-left: 17px;
    display: inline-block;
    vertical-align: middle;
}

#encabezado {
    height: 152px;
    width: 100%;

    background-color: #23C6DB;
}

#menu {
    height: 60px;
    width: 100%;


}

#contenido {
    height: 466px;
    width: 100%;

}


#pie {
    height: 90px;
    justify-content: center;
    align-items: center;

}


#contgen {
    display: flex;
}

#cont1 {
    flex: 1;
    text-align: left;
}

#cont2 {
    flex: 2;
}

.product-image:hover {
    content: url('/img/Productos_Flayer_bn.jpg');
}

/* Cambiar la imagen de Noticias_Flayer en hover */
.news-image:hover {
    content: url('/img/Noticias_Flayer_bn.jpg');
}

.slideshow-container {
    overflow: hidden;
    position: relative;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #00367D;
    padding: 13px;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 40px;
}

button:hover {
    background-color: #00367dbd;
}