body {
    background-color: #ccebf5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card {
    box-shadow: 0 0 10px #0000007f;
    width: 500px;
    border: none;
}

.encabezadologo {
    display: inline-block;
    vertical-align: middle;
    padding-top: 1px;
}

.iniciosession {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 254px;
}

.registro {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 530 px;
}

.mb-3 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#btnEnviar {
    background-color: #0000007f;
    border-radius: 0px 0px 5px 5px;
    border: none;
    color: black;
}

#btnEnviarR {
    background-color: #0000007f;
    border-radius: 0px 0px 0px 0px;
    border: none;
    color: black;
}

#btnCancelar {
    background-color: #0000007f;
    border-radius: 0px 0px 5px 5px;
    border: none;
    color: black;
}

.card-header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 26px;
    font-weight: bold;
    background-color: #23C6DB;
    height: 90px;
}

.textAcceder {
    font-weight: bold;
    color: white;
    color: rgba(255, 255, 255, 0.947);
}

#btnEnviar {
    background-color: #0d2d56;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 500px;
}

#btnEnviar:hover {
    background-color: #0d2d56d9;
}

#btnEnviarR {
    background-color: #0d2d56;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 500px;
}

#btnEnviarR:hover {
    background-color: #0d2d56d9;
}

#btnCancelar {
    background-color: #cc1524;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 500px;
}

#btnCancelar:hover {
    background-color: #cc1524d1;
}

.form-label {
    font-weight: 500;
}

.logos {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#btnEnviarRecu{
    background-color: #0d2d56;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 500px;
    border-radius: 0px 0px 0px 0px;
    border: none;
}